USE [master]
GO
/****** Object:  Database [Grupa_2]    Script Date: 28.03.2019 16:59:17 ******/
CREATE DATABASE [Grupa_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Grupa_2', FILENAME = N'F:\Data\Grupa_2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Grupa_2_log', FILENAME = N'F:\Log\Grupa_2_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Grupa_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Grupa_2]
GO
/****** Object:  User [mwesolowski]    Script Date: 28.03.2019 16:59:18 ******/
CREATE USER [mwesolowski] FOR LOGIN [mwesolowski] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [llaszuk]    Script Date: 28.03.2019 16:59:18 ******/
CREATE USER [llaszuk] FOR LOGIN [llaszuk] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [dkonopka]    Script Date: 28.03.2019 16:59:18 ******/
CREATE USER [dkonopka] FOR LOGIN [dkonopka] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [mwesolowski]
GO
ALTER ROLE [db_datareader] ADD MEMBER [mwesolowski]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [mwesolowski]
GO
ALTER ROLE [db_owner] ADD MEMBER [llaszuk]
GO
ALTER ROLE [db_datareader] ADD MEMBER [llaszuk]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [llaszuk]
GO
ALTER ROLE [db_owner] ADD MEMBER [dkonopka]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [dkonopka]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [dkonopka]
GO
ALTER ROLE [db_datareader] ADD MEMBER [dkonopka]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [dkonopka]
GO
/****** Object:  UserDefinedFunction [dbo].[funkcja1]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[funkcja1](@miesiac int)
RETURNS @result TABLE
(
	NumerHotelu int,
	LiczbaWizyt int
)
AS
BEGIN

INSERT INTO @result(NumerHotelu, LiczbaWizyt)
SELECT H.NumerHotelu, COUNT(*) FROM REZERWACJA R
INNER JOIN POKOJ P ON R.IdPokoju = P.IdPokoju
INNER JOIN HOTEL H ON P.IdHotelu = H.idHotelu
WHERE MONTH(R.PoczatekPobytu) = @miesiac AND R.KoniecPobytu < getdate()
GROUP BY H.NumerHotelu

RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[funkcja3]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[funkcja3] (
@NumerHotelu int)
RETURNS int
AS
BEGIN
DECLARE @result int
SET @result = (SELECT COUNT(*) AS LiczbaPokoiWHotelu FROM HOTEL H
INNER JOIN POKOJ P ON P.IdHotelu = H.idHotelu
WHERE P.IdHotelu = @NumerHotelu
);
RETURN @result
END
GO
/****** Object:  UserDefinedFunction [dbo].[funkcja4]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[funkcja4] (
@IdRestauracji int)
RETURNS int
AS
BEGIN
DECLARE @result int
SET @result = (SELECT COUNT(*) AS LiczbaPotrawBezglutenowych FROM RESTAURACJA_POTRAWA R
INNER JOIN POTRAWA P ON R.IdPotrawy = P.IdPotrawy 
WHERE R.IdRestauracji = @IdRestauracji AND P.CzyGluten = 0
);
RETURN @result
END
GO
/****** Object:  UserDefinedFunction [dbo].[funkcja5]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[funkcja5] (
@IdRestauracji int)
RETURNS int
AS
BEGIN
DECLARE @liczbaGodzin1 int
DECLARE @liczbaGodzin2 int
DECLARE @result int
SET @liczbaGodzin1 = (SELECT R.GodzinaOtwarcia FROM RESTAURACJA R
WHERE R.IdRestauracji = @IdRestauracji);
SET @liczbaGodzin2 = (SELECT R.GodzinaZamkniecia FROM RESTAURACJA R
WHERE R.IdRestauracji = @IdRestauracji);
SET @result = @liczbaGodzin2 - @liczbaGodzin1
RETURN @result
END

GO
/****** Object:  Table [dbo].[DYZUR]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DYZUR](
	[IdDyzuru] [int] IDENTITY(1,1) NOT NULL,
	[dyzurOd] [datetime] NULL,
	[dyzurDo] [datetime] NULL,
	[IdPracownika] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDyzuru] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOTEL]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOTEL](
	[idHotelu] [int] IDENTITY(1,1) NOT NULL,
	[NumerHotelu] [int] NULL,
	[Ulica] [varchar](60) NULL,
	[NumerUlica] [varchar](60) NULL,
	[Miasto] [varchar](60) NULL,
	[KodPocztowy] [varchar](60) NULL,
	[CzyJestRestauracja] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idHotelu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KATEGORIA_POKOJU]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KATEGORIA_POKOJU](
	[IdKategorii] [int] IDENTITY(1,1) NOT NULL,
	[CzyJestLazienka] [bit] NULL,
	[CzyJestBalkon] [bit] NULL,
	[NazwaKategorii] [varchar](60) NULL,
	[CzyJestLodowka] [bit] NULL,
	[DwuosoboweLozko] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKategorii] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KLIENT]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KLIENT](
	[IdKlienta] [int] IDENTITY(1,1) NOT NULL,
	[Imie] [varchar](60) NULL,
	[Nazwisko] [varchar](60) NULL,
	[NumerTelefonu] [varchar](60) NULL,
	[Ulica] [varchar](60) NULL,
	[NumerUlica] [varchar](60) NULL,
	[Miasto] [varchar](60) NULL,
	[IdStatusu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKlienta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[POKOJ]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POKOJ](
	[IdPokoju] [int] IDENTITY(1,1) NOT NULL,
	[NumerPokoju] [int] NULL,
	[CzyZajety] [bit] NULL,
	[IdKategorii] [int] NULL,
	[CenaPokoju] [decimal](18, 0) NULL,
	[IdHotelu] [int] NULL,
	[LiczbaOsob] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPokoju] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POTRAWA]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[POTRAWA](
	[IdPotrawy] [int] IDENTITY(1,1) NOT NULL,
	[NazwaPotrawy] [varchar](60) NULL,
	[CzyGluten] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPotrawy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRACOWNIK]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRACOWNIK](
	[IdPracownika] [int] IDENTITY(1,1) NOT NULL,
	[PESEL] [varchar](11) NOT NULL,
	[Imie] [varchar](60) NULL,
	[Nazwisko] [varchar](60) NULL,
	[NumerTelefonu] [varchar](60) NULL,
	[UmowaOd] [datetime] NULL,
	[UmowaDo] [datetime] NULL,
	[IdHotelu] [int] NULL,
	[IdStanowiska] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPracownika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RESTAURACJA]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESTAURACJA](
	[IdRestauracji] [int] IDENTITY(1,1) NOT NULL,
	[GodzinaOtwarcia] [int] NULL,
	[GodzinaZamkniecia] [int] NULL,
	[IdHotelu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRestauracji] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RESTAURACJA_POTRAWA]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESTAURACJA_POTRAWA](
	[IdRestauracjaPotrawa] [int] IDENTITY(1,1) NOT NULL,
	[CenaPotrawy] [decimal](18, 0) NULL,
	[IdRestauracji] [int] NULL,
	[IdPotrawy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRestauracjaPotrawa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REZERWACJA]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REZERWACJA](
	[IdRezerwacji] [int] IDENTITY(1,1) NOT NULL,
	[DataRezerwacji] [datetime] NULL,
	[PoczatekPobytu] [datetime] NULL,
	[KoniecPobytu] [datetime] NULL,
	[IdKlienta] [int] NULL,
	[IdPokoju] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRezerwacji] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STANOWISKO]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STANOWISKO](
	[IdStanowiska] [int] IDENTITY(1,1) NOT NULL,
	[NazwaStanowiska] [varchar](60) NULL,
	[Pensja] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStanowiska] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STATUS_KLIENTA]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STATUS_KLIENTA](
	[IdStatusu] [int] IDENTITY(1,1) NOT NULL,
	[NazwaStatusu] [varchar](60) NULL,
	[ZnizkaProcentowa] [int] NULL,
	[CzyWliczoneSniadania] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStatusu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[widok 1]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[widok 1]
as SELECT PRACOWNIK.Imie, PRACOWNIK.Nazwisko, STANOWISKO.Pensja, STANOWISKO.NazwaStanowiska
FROM PRACOWNIK INNER JOIN
STANOWISKO ON PRACOWNIK.IdStanowiska = STANOWISKO.IdStanowiska;
GO
/****** Object:  View [dbo].[widok2]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[widok2] as
SELECT KLIENT.Imie, KLIENT.Nazwisko, STATUS_KLIENTA.NazwaStatusu, STATUS_KLIENTA.ZnizkaProcentowa, STATUS_KLIENTA.CzyWliczoneSniadania
FROM KLIENT INNER JOIN
STATUS_KLIENTA ON KLIENT.IdStatusu = STATUS_KLIENTA.IdStatusu;
GO
/****** Object:  View [dbo].[widok3]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[widok3] as
SELECT KLIENT.Imie, KLIENT.Nazwisko, REZERWACJA.PoczatekPobytu, REZERWACJA.KoniecPobytu, HOTEL.NumerHotelu, HOTEL.Miasto, POKOJ.NumerPokoju
FROM POKOJ INNER JOIN
REZERWACJA ON POKOJ.IdPokoju = REZERWACJA.IdPokoju INNER JOIN
HOTEL ON POKOJ.IdHotelu = HOTEL.idHotelu INNER JOIN
KLIENT ON REZERWACJA.IdKlienta = KLIENT.IdKlienta
GO
/****** Object:  View [dbo].[widok4]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[widok4] AS
SELECT H.NumerHotelu, H.Miasto, COUNT(*) AS LiczbaPracownikow FROM PRACOWNIK P
INNER JOIN HOTEL H ON H.idHotelu=P.IdHotelu
INNER JOIN STANOWISKO S ON P.IdStanowiska=S.IdStanowiska
WHERE S.Pensja > 4000
GROUP BY H.NumerHotelu, H.Miasto;
GO
/****** Object:  View [dbo].[widok5]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[widok5] as
SELECT K.Nazwisko, COUNT(*) AS LiczbaRezerwacji FROM KLIENT K
INNER JOIN REZERWACJA R ON K.IdKlienta = R.IdKlienta
GROUP BY K.Nazwisko;
GO
/****** Object:  View [dbo].[widok6]    Script Date: 28.03.2019 16:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE VIEW [dbo].[widok6] as
  SELECT SUM(P.CenaPokoju) AS SumaCenPokoju, H.NumerHotelu FROM POKOJ P
  INNER JOIN REZERWACJA R ON P.IdPokoju=R.IdPokoju
  INNER JOIN HOTEL H ON H.idHotelu=P.IdHotelu
  GROUP BY H.NumerHotelu;
GO
SET IDENTITY_INSERT [dbo].[DYZUR] ON 

INSERT [dbo].[DYZUR] ([IdDyzuru], [dyzurOd], [dyzurDo], [IdPracownika]) VALUES (1, CAST(N'2011-10-18 18:02:01.000' AS DateTime), CAST(N'2011-10-18 20:02:01.000' AS DateTime), 370)
INSERT [dbo].[DYZUR] ([IdDyzuru], [dyzurOd], [dyzurDo], [IdPracownika]) VALUES (2, CAST(N'2011-08-26 15:34:33.000' AS DateTime), CAST(N'2011-08-26 17:34:33.000' AS DateTime), 374)
INSERT [dbo].[DYZUR] ([IdDyzuru], [dyzurOd], [dyzurDo], [IdPracownika]) VALUES (3, CAST(N'2013-07-28 22:50:30.000' AS DateTime), CAST(N'2013-07-29 00:50:30.000' AS DateTime), 352)
GO
SET IDENTITY_INSERT [dbo].[DYZUR] OFF
SET IDENTITY_INSERT [dbo].[HOTEL] ON 

INSERT [dbo].[HOTEL] ([idHotelu], [NumerHotelu], [Ulica], [NumerUlica], [Miasto], [KodPocztowy], [CzyJestRestauracja]) VALUES (1, 1, N'Rigney', N'95005', N'Belmopan', NULL, 1)
INSERT [dbo].[HOTEL] ([idHotelu], [NumerHotelu], [Ulica], [NumerUlica], [Miasto], [KodPocztowy], [CzyJestRestauracja]) VALUES (2, 2, N'Stang', N'89', N'Gaoyang', NULL, 0)
INSERT [dbo].[HOTEL] ([idHotelu], [NumerHotelu], [Ulica], [NumerUlica], [Miasto], [KodPocztowy], [CzyJestRestauracja]) VALUES (3, 3, N'Kedzie', N'1124', N'Shigu', NULL, 1)
SET IDENTITY_INSERT [dbo].[HOTEL] OFF
SET IDENTITY_INSERT [dbo].[KATEGORIA_POKOJU] ON 

INSERT [dbo].[KATEGORIA_POKOJU] ([IdKategorii], [CzyJestLazienka], [CzyJestBalkon], [NazwaKategorii], [CzyJestLodowka], [DwuosoboweLozko]) VALUES (1, 0, 0, N'zwykly', 0, 0)
INSERT [dbo].[KATEGORIA_POKOJU] ([IdKategorii], [CzyJestLazienka], [CzyJestBalkon], [NazwaKategorii], [CzyJestLodowka], [DwuosoboweLozko]) VALUES (2, 0, 0, N'zwykly', 0, 1)
INSERT [dbo].[KATEGORIA_POKOJU] ([IdKategorii], [CzyJestLazienka], [CzyJestBalkon], [NazwaKategorii], [CzyJestLodowka], [DwuosoboweLozko]) VALUES (3, 1, 0, N'srebro', 0, 0)
SET IDENTITY_INSERT [dbo].[KATEGORIA_POKOJU] OFF
SET IDENTITY_INSERT [dbo].[KLIENT] ON 

INSERT [dbo].[KLIENT] ([IdKlienta], [Imie], [Nazwisko], [NumerTelefonu], [Ulica], [NumerUlica], [Miasto], [IdStatusu]) VALUES (1, N'Meta', N'Fitton', N'4652059411', N'Paget', N'550', N'Nong Saeng', 2)
INSERT [dbo].[KLIENT] ([IdKlienta], [Imie], [Nazwisko], [NumerTelefonu], [Ulica], [NumerUlica], [Miasto], [IdStatusu]) VALUES (2, N'Reagen', N'Rhymes', N'6767104251', N'Miller', N'89080', N'Picoto', 1)
INSERT [dbo].[KLIENT] ([IdKlienta], [Imie], [Nazwisko], [NumerTelefonu], [Ulica], [NumerUlica], [Miasto], [IdStatusu]) VALUES (3, N'Shanie', N'Paddock', N'7661953284', N'Kennedy', N'6', N'Utrecht', 3)
GO
SET IDENTITY_INSERT [dbo].[KLIENT] OFF
SET IDENTITY_INSERT [dbo].[POKOJ] ON 

INSERT [dbo].[POKOJ] ([IdPokoju], [NumerPokoju], [CzyZajety], [IdKategorii], [CenaPokoju], [IdHotelu], [LiczbaOsob]) VALUES (1, 228, 1, 3, CAST(150 AS Decimal(18, 0)), 12, 1)
INSERT [dbo].[POKOJ] ([IdPokoju], [NumerPokoju], [CzyZajety], [IdKategorii], [CenaPokoju], [IdHotelu], [LiczbaOsob]) VALUES (2, 284, 1, 6, CAST(300 AS Decimal(18, 0)), 9, 1)
INSERT [dbo].[POKOJ] ([IdPokoju], [NumerPokoju], [CzyZajety], [IdKategorii], [CenaPokoju], [IdHotelu], [LiczbaOsob]) VALUES (3, 238, 1, 1, CAST(50 AS Decimal(18, 0)), 9, 2)
GO
SET IDENTITY_INSERT [dbo].[POKOJ] OFF
SET IDENTITY_INSERT [dbo].[POTRAWA] ON 

INSERT [dbo].[POTRAWA] ([IdPotrawy], [NazwaPotrawy], [CzyGluten]) VALUES (1, N'Bagel - 12 Grain Preslice', 1)
INSERT [dbo].[POTRAWA] ([IdPotrawy], [NazwaPotrawy], [CzyGluten]) VALUES (2, N'Chives - Fresh', 1)
INSERT [dbo].[POTRAWA] ([IdPotrawy], [NazwaPotrawy], [CzyGluten]) VALUES (3, N'Sauce - Rosee', 1)
GO
SET IDENTITY_INSERT [dbo].[POTRAWA] OFF
SET IDENTITY_INSERT [dbo].[PRACOWNIK] ON 

INSERT [dbo].[PRACOWNIK] ([IdPracownika], [PESEL], [Imie], [Nazwisko], [NumerTelefonu], [UmowaOd], [UmowaDo], [IdHotelu], [IdStanowiska]) VALUES (1, N'10015601401', N'Fara', N'Eppson', N'646 873 1354', CAST(N'2011-04-26 00:00:00.000' AS DateTime), CAST(N'2021-02-02 00:00:00.000' AS DateTime), 3, 4)
INSERT [dbo].[PRACOWNIK] ([IdPracownika], [PESEL], [Imie], [Nazwisko], [NumerTelefonu], [UmowaOd], [UmowaDo], [IdHotelu], [IdStanowiska]) VALUES (2, N'02489617131', N'Rosella', N'Hinstock', N'162 367 5308', CAST(N'2009-07-01 00:00:00.000' AS DateTime), CAST(N'2020-10-01 00:00:00.000' AS DateTime), 6, 1)
INSERT [dbo].[PRACOWNIK] ([IdPracownika], [PESEL], [Imie], [Nazwisko], [NumerTelefonu], [UmowaOd], [UmowaDo], [IdHotelu], [IdStanowiska]) VALUES (3, N'10695981511', N'Elaina', N'Coggell', N'248 647 4118', CAST(N'2007-01-29 00:00:00.000' AS DateTime), CAST(N'2016-12-29 00:00:00.000' AS DateTime), 6, 3)
GO
SET IDENTITY_INSERT [dbo].[PRACOWNIK] OFF
SET IDENTITY_INSERT [dbo].[RESTAURACJA] ON 

INSERT [dbo].[RESTAURACJA] ([IdRestauracji], [GodzinaOtwarcia], [GodzinaZamkniecia], [IdHotelu]) VALUES (1, 10, 16, 5)
INSERT [dbo].[RESTAURACJA] ([IdRestauracji], [GodzinaOtwarcia], [GodzinaZamkniecia], [IdHotelu]) VALUES (2, 6, 13, 12)
INSERT [dbo].[RESTAURACJA] ([IdRestauracji], [GodzinaOtwarcia], [GodzinaZamkniecia], [IdHotelu]) VALUES (3, 11, 18, 4)
SET IDENTITY_INSERT [dbo].[RESTAURACJA] OFF
SET IDENTITY_INSERT [dbo].[RESTAURACJA_POTRAWA] ON 

INSERT [dbo].[RESTAURACJA_POTRAWA] ([IdRestauracjaPotrawa], [CenaPotrawy], [IdRestauracji], [IdPotrawy]) VALUES (2, CAST(3 AS Decimal(18, 0)), 48, 78)
INSERT [dbo].[RESTAURACJA_POTRAWA] ([IdRestauracjaPotrawa], [CenaPotrawy], [IdRestauracji], [IdPotrawy]) VALUES (3, CAST(5 AS Decimal(18, 0)), 58, 18)
INSERT [dbo].[RESTAURACJA_POTRAWA] ([IdRestauracjaPotrawa], [CenaPotrawy], [IdRestauracji], [IdPotrawy]) VALUES (4, CAST(25 AS Decimal(18, 0)), 14, 71)
GO
SET IDENTITY_INSERT [dbo].[RESTAURACJA_POTRAWA] OFF
SET IDENTITY_INSERT [dbo].[REZERWACJA] ON 

INSERT [dbo].[REZERWACJA] ([IdRezerwacji], [DataRezerwacji], [PoczatekPobytu], [KoniecPobytu], [IdKlienta], [IdPokoju]) VALUES (1, CAST(N'2018-11-03 18:00:56.000' AS DateTime), CAST(N'2018-12-01 18:00:56.000' AS DateTime), CAST(N'2018-12-13 18:00:56.000' AS DateTime), 24, 29)
INSERT [dbo].[REZERWACJA] ([IdRezerwacji], [DataRezerwacji], [PoczatekPobytu], [KoniecPobytu], [IdKlienta], [IdPokoju]) VALUES (2, CAST(N'2018-12-16 08:53:41.000' AS DateTime), CAST(N'2018-12-31 08:53:41.000' AS DateTime), CAST(N'2019-01-12 08:53:41.000' AS DateTime), 168, 186)
INSERT [dbo].[REZERWACJA] ([IdRezerwacji], [DataRezerwacji], [PoczatekPobytu], [KoniecPobytu], [IdKlienta], [IdPokoju]) VALUES (3, CAST(N'2018-06-21 10:57:29.000' AS DateTime), CAST(N'2018-07-01 10:57:29.000' AS DateTime), CAST(N'2018-07-05 10:57:29.000' AS DateTime), 29, 151)
GO
SET IDENTITY_INSERT [dbo].[REZERWACJA] OFF
SET IDENTITY_INSERT [dbo].[STANOWISKO] ON 

INSERT [dbo].[STANOWISKO] ([IdStanowiska], [NazwaStanowiska], [Pensja]) VALUES (1, N'Sprzatajacy', CAST(3000 AS Decimal(18, 0)))
INSERT [dbo].[STANOWISKO] ([IdStanowiska], [NazwaStanowiska], [Pensja]) VALUES (2, N'Kierownik', CAST(10000 AS Decimal(18, 0)))
INSERT [dbo].[STANOWISKO] ([IdStanowiska], [NazwaStanowiska], [Pensja]) VALUES (3, N'Recepcjonista', CAST(4000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[STANOWISKO] OFF
SET IDENTITY_INSERT [dbo].[STATUS_KLIENTA] ON 

INSERT [dbo].[STATUS_KLIENTA] ([IdStatusu], [NazwaStatusu], [ZnizkaProcentowa], [CzyWliczoneSniadania]) VALUES (1, N'vip', 50, 1)
INSERT [dbo].[STATUS_KLIENTA] ([IdStatusu], [NazwaStatusu], [ZnizkaProcentowa], [CzyWliczoneSniadania]) VALUES (2, N'vip', 50, 0)
INSERT [dbo].[STATUS_KLIENTA] ([IdStatusu], [NazwaStatusu], [ZnizkaProcentowa], [CzyWliczoneSniadania]) VALUES (3, N'ekskluzywny', 25, 1)
SET IDENTITY_INSERT [dbo].[STATUS_KLIENTA] OFF
ALTER TABLE [dbo].[DYZUR]  WITH CHECK ADD  CONSTRAINT [IdPracownika] FOREIGN KEY([IdPracownika])
REFERENCES [dbo].[PRACOWNIK] ([IdPracownika])
GO
ALTER TABLE [dbo].[DYZUR] CHECK CONSTRAINT [IdPracownika]
GO
ALTER TABLE [dbo].[KLIENT]  WITH CHECK ADD  CONSTRAINT [IdStatusu] FOREIGN KEY([IdStatusu])
REFERENCES [dbo].[STATUS_KLIENTA] ([IdStatusu])
GO
ALTER TABLE [dbo].[KLIENT] CHECK CONSTRAINT [IdStatusu]
GO
ALTER TABLE [dbo].[POKOJ]  WITH CHECK ADD  CONSTRAINT [IdHotelu3] FOREIGN KEY([IdHotelu])
REFERENCES [dbo].[HOTEL] ([idHotelu])
GO
ALTER TABLE [dbo].[POKOJ] CHECK CONSTRAINT [IdHotelu3]
GO
ALTER TABLE [dbo].[POKOJ]  WITH CHECK ADD  CONSTRAINT [IdKategorii] FOREIGN KEY([IdKategorii])
REFERENCES [dbo].[KATEGORIA_POKOJU] ([IdKategorii])
GO
ALTER TABLE [dbo].[POKOJ] CHECK CONSTRAINT [IdKategorii]
GO
ALTER TABLE [dbo].[PRACOWNIK]  WITH CHECK ADD  CONSTRAINT [IdHotelu] FOREIGN KEY([IdHotelu])
REFERENCES [dbo].[HOTEL] ([idHotelu])
GO
ALTER TABLE [dbo].[PRACOWNIK] CHECK CONSTRAINT [IdHotelu]
GO
ALTER TABLE [dbo].[PRACOWNIK]  WITH CHECK ADD  CONSTRAINT [IdStanowiska] FOREIGN KEY([IdStanowiska])
REFERENCES [dbo].[STANOWISKO] ([IdStanowiska])
GO
ALTER TABLE [dbo].[PRACOWNIK] CHECK CONSTRAINT [IdStanowiska]
GO
ALTER TABLE [dbo].[RESTAURACJA]  WITH CHECK ADD  CONSTRAINT [IdHotelu2] FOREIGN KEY([IdHotelu])
REFERENCES [dbo].[HOTEL] ([idHotelu])
GO
ALTER TABLE [dbo].[RESTAURACJA] CHECK CONSTRAINT [IdHotelu2]
GO
ALTER TABLE [dbo].[RESTAURACJA_POTRAWA]  WITH CHECK ADD  CONSTRAINT [IdPotrawy] FOREIGN KEY([IdPotrawy])
REFERENCES [dbo].[POTRAWA] ([IdPotrawy])
GO
ALTER TABLE [dbo].[RESTAURACJA_POTRAWA] CHECK CONSTRAINT [IdPotrawy]
GO
ALTER TABLE [dbo].[RESTAURACJA_POTRAWA]  WITH CHECK ADD  CONSTRAINT [IdRestauracji1] FOREIGN KEY([IdRestauracji])
REFERENCES [dbo].[RESTAURACJA] ([IdRestauracji])
GO
ALTER TABLE [dbo].[RESTAURACJA_POTRAWA] CHECK CONSTRAINT [IdRestauracji1]
GO
ALTER TABLE [dbo].[REZERWACJA]  WITH CHECK ADD  CONSTRAINT [IdKlienta2] FOREIGN KEY([IdKlienta])
REFERENCES [dbo].[KLIENT] ([IdKlienta])
GO
ALTER TABLE [dbo].[REZERWACJA] CHECK CONSTRAINT [IdKlienta2]
GO
ALTER TABLE [dbo].[REZERWACJA]  WITH CHECK ADD  CONSTRAINT [IdPokoju2] FOREIGN KEY([IdPokoju])
REFERENCES [dbo].[POKOJ] ([IdPokoju])
GO
ALTER TABLE [dbo].[REZERWACJA] CHECK CONSTRAINT [IdPokoju2]
GO
/****** Object:  StoredProcedure [dbo].[Procedura1]    Script Date: 28.03.2019 16:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Procedura1](@miasto varchar(60), @stara varchar(60), @nowa varchar(60))
as begin

update KLIENT
set Ulica = @nowa
where Miasto = @miasto and Ulica = @stara

update HOTEL
set Ulica = @nowa
where Miasto = @miasto and Ulica = @stara

end
GO
/****** Object:  StoredProcedure [dbo].[Procedura2]    Script Date: 28.03.2019 16:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Procedura2] (@potrawa varchar(60), @nowaCena int)
as begin
update RESTAURACJA_POTRAWA
set CenaPotrawy = @nowaCena
where IdPotrawy = (select IdPotrawy from Potrawa where NazwaPotrawy=@potrawa)

end
GO
USE [master]
GO
