USE [HotelDatabase]
GO
ALTER TABLE [dbo].[RESTAURACJA_POTRAWA] DROP CONSTRAINT [IdRestauracji1]
GO
ALTER TABLE [dbo].[RESTAURACJA_POTRAWA] DROP CONSTRAINT [IdPotrawy]
GO
ALTER TABLE [dbo].[RESTAURACJA] DROP CONSTRAINT [IdHotelu2]
GO
ALTER TABLE [dbo].[PRACOWNIK] DROP CONSTRAINT [IdStanowiska]
GO
ALTER TABLE [dbo].[PRACOWNIK] DROP CONSTRAINT [IdHotelu]
GO
ALTER TABLE [dbo].[DYZUR] DROP CONSTRAINT [IdPracownika]
GO
/****** Object:  Table [dbo].[STANOWISKO]    Script Date: 2019-03-20 18:24:37 ******/
DROP TABLE [dbo].[STANOWISKO]
GO
/****** Object:  Table [dbo].[RESTAURACJA_POTRAWA]    Script Date: 2019-03-20 18:24:37 ******/
DROP TABLE [dbo].[RESTAURACJA_POTRAWA]
GO
/****** Object:  Table [dbo].[RESTAURACJA]    Script Date: 2019-03-20 18:24:37 ******/
DROP TABLE [dbo].[RESTAURACJA]
GO
/****** Object:  Table [dbo].[PRACOWNIK]    Script Date: 2019-03-20 18:24:37 ******/
DROP TABLE [dbo].[PRACOWNIK]
GO
/****** Object:  Table [dbo].[POTRAWA]    Script Date: 2019-03-20 18:24:37 ******/
DROP TABLE [dbo].[POTRAWA]
GO
/****** Object:  Table [dbo].[HOTEL]    Script Date: 2019-03-20 18:24:37 ******/
DROP TABLE [dbo].[HOTEL]
GO
/****** Object:  Table [dbo].[DYZUR]    Script Date: 2019-03-20 18:24:37 ******/
DROP TABLE [dbo].[DYZUR]
GO
/****** Object:  Table [dbo].[DYZUR]    Script Date: 2019-03-20 18:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DYZUR](
	[IdDyzuru] [int] IDENTITY(1,1) NOT NULL,
	[dyzurOd] [datetime] NULL,
	[dyzurDo] [datetime] NULL,
	[IdPracownika] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDyzuru] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOTEL]    Script Date: 2019-03-20 18:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOTEL](
	[idHotelu] [int] IDENTITY(1,1) NOT NULL,
	[NumerHotelu] [int] NULL,
	[Ulica] [varchar](60) NULL,
	[NumerUlica] [varchar](60) NULL,
	[Miasto] [varchar](60) NULL,
	[KodPocztowy] [varchar](60) NULL,
	[CzyJestRestauracja] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idHotelu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[POTRAWA]    Script Date: 2019-03-20 18:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[POTRAWA](
	[IdPotrawy] [int] IDENTITY(1,1) NOT NULL,
	[NazwaPotrawy] [varchar](60) NULL,
	[CzyGluten] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPotrawy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRACOWNIK]    Script Date: 2019-03-20 18:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRACOWNIK](
	[IdPracownika] [int] IDENTITY(1,1) NOT NULL,
	[PESEL] [varchar](11) NOT NULL,
	[Imie] [varchar](60) NULL,
	[Nazwisko] [varchar](60) NULL,
	[NumerTelefonu] [varchar](60) NULL,
	[UmowaOd] [datetime] NULL,
	[UmowaDo] [datetime] NULL,
	[IdHotelu] [int] NULL,
	[IdStanowiska] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPracownika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RESTAURACJA]    Script Date: 2019-03-20 18:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESTAURACJA](
	[IdRestauracji] [int] IDENTITY(1,1) NOT NULL,
	[GodzinaOtwarcia] [int] NULL,
	[GodzinaZamkniecia] [int] NULL,
	[IdHotelu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRestauracji] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RESTAURACJA_POTRAWA]    Script Date: 2019-03-20 18:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESTAURACJA_POTRAWA](
	[IdRestauracjaPotrawa] [int] IDENTITY(1,1) NOT NULL,
	[CenaPotrawy] [decimal](18, 0) NULL,
	[IdRestauracji] [int] NULL,
	[IdPotrawy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRestauracjaPotrawa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STANOWISKO]    Script Date: 2019-03-20 18:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STANOWISKO](
	[IdStanowiska] [int] IDENTITY(1,1) NOT NULL,
	[NazwaStanowiska] [varchar](60) NULL,
	[Pensja] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStanowiska] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[HOTEL] ON 

INSERT [dbo].[HOTEL] ([idHotelu], [NumerHotelu], [Ulica], [NumerUlica], [Miasto], [KodPocztowy], [CzyJestRestauracja]) VALUES (1, 1, N'Rigney', N'95005', N'Belmopan', NULL, 1)
INSERT [dbo].[HOTEL] ([idHotelu], [NumerHotelu], [Ulica], [NumerUlica], [Miasto], [KodPocztowy], [CzyJestRestauracja]) VALUES (2, 2, N'Stang', N'89', N'Gaoyang', NULL, 0)
INSERT [dbo].[HOTEL] ([idHotelu], [NumerHotelu], [Ulica], [NumerUlica], [Miasto], [KodPocztowy], [CzyJestRestauracja]) VALUES (3, 3, N'Kedzie', N'1124', N'Shigu', NULL, 1)
SET IDENTITY_INSERT [dbo].[HOTEL] OFF
SET IDENTITY_INSERT [dbo].[POTRAWA] ON 

INSERT [dbo].[POTRAWA] ([IdPotrawy], [NazwaPotrawy], [CzyGluten]) VALUES (1, N'Bagel - 12 Grain Preslice', 1)
INSERT [dbo].[POTRAWA] ([IdPotrawy], [NazwaPotrawy], [CzyGluten]) VALUES (2, N'Chives - Fresh', 1)
INSERT [dbo].[POTRAWA] ([IdPotrawy], [NazwaPotrawy], [CzyGluten]) VALUES (3, N'Sauce - Rosee', 1)
GO
SET IDENTITY_INSERT [dbo].[POTRAWA] OFF
SET IDENTITY_INSERT [dbo].[PRACOWNIK] ON 

INSERT [dbo].[PRACOWNIK] ([IdPracownika], [PESEL], [Imie], [Nazwisko], [NumerTelefonu], [UmowaOd], [UmowaDo], [IdHotelu], [IdStanowiska]) VALUES (401, N'79976189371', N'Gauthier', N'Dorracott', N'434 371 3596', CAST(N'2010-10-16 00:00:00.000' AS DateTime), CAST(N'2020-10-26 00:00:00.000' AS DateTime), 1, 3)
INSERT [dbo].[PRACOWNIK] ([IdPracownika], [PESEL], [Imie], [Nazwisko], [NumerTelefonu], [UmowaOd], [UmowaDo], [IdHotelu], [IdStanowiska]) VALUES (402, N'21869167541', N'Stacy', N'Doughtery', N'621 198 3649', CAST(N'2010-04-02 00:00:00.000' AS DateTime), CAST(N'2020-10-26 00:00:00.000' AS DateTime), 9, 1)
INSERT [dbo].[PRACOWNIK] ([IdPracownika], [PESEL], [Imie], [Nazwisko], [NumerTelefonu], [UmowaOd], [UmowaDo], [IdHotelu], [IdStanowiska]) VALUES (403, N'74303229801', N'Salem', N'Coltart', N'664 181 8781', CAST(N'2013-08-12 00:00:00.000' AS DateTime), CAST(N'2020-06-04 00:00:00.000' AS DateTime), 11, 4)
GO
SET IDENTITY_INSERT [dbo].[PRACOWNIK] OFF
SET IDENTITY_INSERT [dbo].[RESTAURACJA] ON 

INSERT [dbo].[RESTAURACJA] ([IdRestauracji], [GodzinaOtwarcia], [GodzinaZamkniecia], [IdHotelu]) VALUES (1, 10, 16, 5)
INSERT [dbo].[RESTAURACJA] ([IdRestauracji], [GodzinaOtwarcia], [GodzinaZamkniecia], [IdHotelu]) VALUES (2, 6, 13, 12)
INSERT [dbo].[RESTAURACJA] ([IdRestauracji], [GodzinaOtwarcia], [GodzinaZamkniecia], [IdHotelu]) VALUES (3, 11, 18, 4)
SET IDENTITY_INSERT [dbo].[RESTAURACJA] OFF
SET IDENTITY_INSERT [dbo].[RESTAURACJA_POTRAWA] ON 

INSERT [dbo].[RESTAURACJA_POTRAWA] ([IdRestauracjaPotrawa], [CenaPotrawy], [IdRestauracji], [IdPotrawy]) VALUES (2, CAST(3 AS Decimal(18, 0)), 48, 78)
INSERT [dbo].[RESTAURACJA_POTRAWA] ([IdRestauracjaPotrawa], [CenaPotrawy], [IdRestauracji], [IdPotrawy]) VALUES (3, CAST(5 AS Decimal(18, 0)), 58, 18)
INSERT [dbo].[RESTAURACJA_POTRAWA] ([IdRestauracjaPotrawa], [CenaPotrawy], [IdRestauracji], [IdPotrawy]) VALUES (4, CAST(25 AS Decimal(18, 0)), 14, 71)
GO
SET IDENTITY_INSERT [dbo].[RESTAURACJA_POTRAWA] OFF
SET IDENTITY_INSERT [dbo].[STANOWISKO] ON 

INSERT [dbo].[STANOWISKO] ([IdStanowiska], [NazwaStanowiska], [Pensja]) VALUES (1, N'Sprzatajacy', CAST(3000 AS Decimal(18, 0)))
INSERT [dbo].[STANOWISKO] ([IdStanowiska], [NazwaStanowiska], [Pensja]) VALUES (2, N'Kierownik', CAST(10000 AS Decimal(18, 0)))
INSERT [dbo].[STANOWISKO] ([IdStanowiska], [NazwaStanowiska], [Pensja]) VALUES (3, N'Recepcjonista', CAST(4000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[STANOWISKO] OFF
ALTER TABLE [dbo].[DYZUR]  WITH CHECK ADD  CONSTRAINT [IdPracownika] FOREIGN KEY([IdPracownika])
REFERENCES [dbo].[PRACOWNIK] ([IdPracownika])
GO
ALTER TABLE [dbo].[DYZUR] CHECK CONSTRAINT [IdPracownika]
GO
ALTER TABLE [dbo].[PRACOWNIK]  WITH CHECK ADD  CONSTRAINT [IdHotelu] FOREIGN KEY([IdHotelu])
REFERENCES [dbo].[HOTEL] ([idHotelu])
GO
ALTER TABLE [dbo].[PRACOWNIK] CHECK CONSTRAINT [IdHotelu]
GO
ALTER TABLE [dbo].[PRACOWNIK]  WITH CHECK ADD  CONSTRAINT [IdStanowiska] FOREIGN KEY([IdStanowiska])
REFERENCES [dbo].[STANOWISKO] ([IdStanowiska])
GO
ALTER TABLE [dbo].[PRACOWNIK] CHECK CONSTRAINT [IdStanowiska]
GO
ALTER TABLE [dbo].[RESTAURACJA]  WITH CHECK ADD  CONSTRAINT [IdHotelu2] FOREIGN KEY([IdHotelu])
REFERENCES [dbo].[HOTEL] ([idHotelu])
GO
ALTER TABLE [dbo].[RESTAURACJA] CHECK CONSTRAINT [IdHotelu2]
GO
ALTER TABLE [dbo].[RESTAURACJA_POTRAWA]  WITH CHECK ADD  CONSTRAINT [IdPotrawy] FOREIGN KEY([IdPotrawy])
REFERENCES [dbo].[POTRAWA] ([IdPotrawy])
GO
ALTER TABLE [dbo].[RESTAURACJA_POTRAWA] CHECK CONSTRAINT [IdPotrawy]
GO
ALTER TABLE [dbo].[RESTAURACJA_POTRAWA]  WITH CHECK ADD  CONSTRAINT [IdRestauracji1] FOREIGN KEY([IdRestauracji])
REFERENCES [dbo].[RESTAURACJA] ([IdRestauracji])
GO
ALTER TABLE [dbo].[RESTAURACJA_POTRAWA] CHECK CONSTRAINT [IdRestauracji1]
GO
