funkcja tabelaryczna

select * from funkcja1(6);

funkcja skalarna

select dbo.funkcja3(6);

procedura

exec Procedura1 'Isak','Welch','Łukaszowa';

Update hotel set ulica = 'Xdekowa' where NumerHotelu = 1;

INSERT INTO Hotel(NumerHotelu)
VALUES (25);

DELETE FROM Hotel WHERE idHotelu='1';

Widoki

Select * from [widok 1];